<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iosSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C1413CA1BCE91C300FB7570</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C1413E11BCE91C600FB7570</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C1413EC1BCE91C600FB7570</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
